body{
    background-image: url("../assets/background-nature-flower-mexican-aster-purple-flowers-background-blur-wallpaper-flower-space-for-text-free-photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.btn1{
    margin-top: 10rem;
    text-align: center;
 align-items: center;
 background-color: rgb(119, 38, 165);
width: 10rem;
height: 3rem;
border-radius: 1rem;
}
.randomnames{
    color: rgb(107, 19, 190);
   padding-top: 4rem;
   font-size: 3rem;
}
.title{
    background-color: rgba(103, 29, 173, 0.139);
  color: rgb(67, 21, 110);
}
.number{
    padding-top: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
   

}
.d{
    background-color: rgba(103, 29, 173, 0.139);
}